attrs~=23.2.0
distro~=1.9.0
wheel~=0.42.0
cryptography~=41.0.7
pillow~=10.2.0
Jinja2~=3.1.2
typing_extensions~=4.10.0
MarkupSafe~=2.1.5
click~=8.1.8
blinker~=1.9.0
requests~=2.31.0
python-dateutil~=2.8.2
Pygments~=2.17.2
psutil~=5.9.8
pexpect~=4.9.0
argcomplete~=3.1.6
certifi~=2023.11.17
urllib3~=2.0.7
six~=1.16.0
packaging~=24.0
idna~=3.6
chardet~=5.2.0

flask~=3.0.3
python-dotenv~=1.0.1
gunicorn~=23.0.0
psycopg2-binary~=2.9.9
validators~=0.28.0
requests~=2.31.0
beautifulsoup4~=4.12.3
celery~=5.4.0
redis~=5.0.4
flake8~=7.0.0
pytest~=8.1.1
pytest-cov~=5.0.0
pytest-playwright~=0.4.4