{% extends "layout.html" %}
{% block sidebar %}
{% if message %}
<div class="alert alert-{{ message[0][0] }} d-flex" role="alert">
  {{ message[0][1] }}
</div>
{% endif %}
{% endblock sidebar %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
        <h1 class="display-3 mb-4">Анализатор страниц</h1>
        <p class="lead mb-4">Бесплатно проверяйте сайты на SEO-пригодность</p>
        <form class="d-flex justify-content-center" action="{{ url_for('add_url') }}" method="post">
            <input type="text" id="write-url" name="url" class="form-control form-control-lg me-3" placeholder="https://www.example.com" required>
            <button type="submit" class="btn btn-primary btn-lg px-5 text-uppercase">Проверить</button>
        </form>
    </div>
</div>
{% endblock %}